<footer class="site-footer bg-dark text-light py-5 mt-5">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-4 g-4">
      <div class="col">
        <h4 class="footer-heading">Explore</h4>
        <ul class="footer-list">
          <li><a href="{{site.baseurl}}/about">About</a></li>
          <li><a href="{{site.baseurl}}/projects">Projects</a></li>
          <li><a href="{{site.baseurl}}/objex">Objex</a></li>
        </ul>
      </div>
      <div class="col">
        <h4 class="footer-heading">Websites</h4>
        <ul class="footer-list">
          <li><a href="{{site.baseurl}}/websites/overview">Overview</a></li>
          <li><a href="{{site.baseurl}}/websites/class-projects">Class Projects</a></li>
          <li><a href="{{site.baseurl}}/websites/communities">Communities</a></li>
        </ul>
      </div>
      <div class="col">
        <h4 class="footer-heading">Process Guides</h4>
        <ul class="footer-list">
          <li><a href="{{site.baseurl}}/process-guides/3d-printing">3D Printing Overview</a></li>
          <li><a href="{{site.baseurl}}/process-guides/3d-scanning">3D Scanning</a></li>
          <li><a href="{{site.baseurl}}/process-guides/360-photography">360 Photography</a></li>
          <li class="text-muted">Designing Posters</li>
          </ul>
          </div>
      <div class="col">
          <h4 class="footer-heading">Equipment</h4>
        <ul class="footer-list">      
          <li><a href="{{site.baseurl}}/equipment/3d-printer">3D Printer</a></li>
          <li><a href="{{site.baseurl}}/equipment/3d-scanner">3D Scanner</a></li>
          <li><a href="{{site.baseurl}}/equipment/360-camera">360 Camera</a></li>
          <li><a href="{{site.baseurl}}/equipment/vr-headsets">VR Headsets</a></li>
          <li><a href="{{site.baseurl}}/equipment/poster-printer">Poster Printer</a></li>
          <li><a href="{{site.baseurl}}/equipment/photo-printer">Photo Printer</a></li>
          <li><a href="{{site.baseurl}}/equipment/yeti-mics">Podcast Mics</a></li>
        </ul>
      </div>
    </div>
    <hr class="my-4">
    <div class="footer-bottom text-center">
      <span class="footer-meta">Made with <span style="font-family: serif;">&hearts;</span> in Albuquerque, NM •
        <a href="mailto:info@amaranth.unm.edu">Contact Us</a> •
        <a href="https://outlook.office365.com/owa/calendar/HistoryAmaranth@unmm.onmicrosoft.com/bookings/">Make an Appointment</a>

      </span>
    </div>
  </div>
</footer>