<footer class="site-footer bg-dark text-light py-5 mt-5">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-3">
      <div class="col">
        <h4 class="footer-heading footer-brand">amaranth</h4>
        
        <ul class="footer-list">
          <li><a href="mailto:amaranth@unm.edu">amaranth@unm.edu</a></li>
          <li>Mesa Vista Hall, Room 2068</li>
          <li>University of New Mexico</li>
        </ul>
      </div>
      <div class="col">
        <h4 class="footer-heading">explore</h4>
        <ul class="footer-list">
          <li><a href="{{site.baseurl}}/websites/overview">Websites</a></li>
          <li><a href="{{site.baseurl}}/visual-narrative/poster-design">Visual Narrative</a></li>
          <li><a href="{{site.baseurl}}/3d-printing/pedagogy">3D Pedagogy</a></li>
          <li><a href="{{site.baseurl}}/audio">Voices</a></li>
        </ul>
      </div>
      <div class="col">
        <h4 class="footer-heading">connect</h4>
        <ul class="footer-list">
          <li><a href="{{site.baseurl}}/events">Events</a></li>
          <li><a href="{{site.baseurl}}/studio">Studio</a></li>
          <li><a href="{{site.baseurl}}/collaborate">Collaborate</a></li>
        </ul>
      </div>
    </div>
    <hr class="my-4">
    <div class="footer-bottom text-center">
      <span class="footer-meta">humanities + technology + design  •  Made with <span style="color: var(--unm-cherry)">&hearts;</span> in ABQ</span>
    </div>
  </div>
</footer>