<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>{% if page.title %}{{ page.title | escape }} // {{ site.title | escape }}{% else %}{{ site.title | escape }} // {{ site.tagline | escape }}{% endif %}</title>

  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="{{site.baseurl}}/favicon.ico">

  <!-- juxtapose.js CSS -->
  <link rel="stylesheet" href="https://cdn.knightlab.com/libs/juxtapose/latest/css/juxtapose.css">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Asimovian&display=swap" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">

  <!-- default CSS-->
  <link href="{{site.baseurl}}/assets/css/backgrounds.css" rel="stylesheet">
  <link href="{{site.baseurl}}/assets/css/amaranth-unm.css" rel="stylesheet">
  
  <!-- if the YAML has a css parameter, load the file specified -->
  {% if page.css %}
  <link href="{{site.baseurl}}/assets/css/{{page.css}}" rel="stylesheet">
  {% endif %}


</head>