<!-- 
 This include file is called from the base layout (_layouts/base.html)
 It is used to display the header of essays, which includes the title, subtitle, and an optional image.
 The YML header of the page should include:
   - title: The title of the essay
   - subtitle: The subtitle of the essay (optional)
   - image-path: The URL of the header image (optional)
   - abs-image-path: An absolute URL for the image (optional)
 -->

{% capture img_url %}
{% include image-path.html image-path=include.image-path %}
{% endcapture %}

{% assign img_url = img_url | strip %}

<div class="jumbotron" style="
      height: {{ include.height | default: '40vh' }}; 
      background-image: url('{{ img_url }}');
      background-position: {{ include.background-position | default: 'center' }};
      background-size: {{ include.background-size | default: 'cover' }};
      background-repeat: no-repeat;">
  {% if include.header-title %}
  <h1 class="{{ include.header-class | default: 'header-title' }}" {% if include.header-title-position %}style="transform: translateY({{ include.header-title-position }});"{% endif %}>{{ include.header-title }}</h1>
  {% if include.header-subtitle %}
  <h2 class="header-subtitle" {% if include.header-title-position %}style="transform: translateY({{ include.header-title-position }});"{% endif %}>{{ include.header-subtitle }}</h2>
  {% endif %}
  {% else %}
  <h1 id="page-title">{{ include.title}}</h1>
  {% endif %}
  {% if include.text and include.text != include.header-subtitle %}
  <h2 id="page-subtitle">{{ include.text }}</h2>
  {% endif %}
</div>