<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="navbar-brand" href="{{site.baseurl}}/">amaranth</a>
        </li>
        {% for item in site.data.top-nav %}
          {% if item.items %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ item.title }}
              </a>
              <ul class="dropdown-menu">
                {% for subitem in item.items %}
                  {% unless subitem.hidden %}
                    {% if subitem.divider %}
                      <li><hr class="dropdown-divider"></li>
                    {% else %}
                      <li><a class="dropdown-item{% if subitem.disabled %} disabled{% endif %}" href="{{site.baseurl}}{{ subitem.url }}"{% if subitem.disabled %} aria-disabled="true"{% endif %}>{{ subitem.title }}</a></li>
                    {% endif %}
                  {% endunless %}
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{site.baseurl}}{{ item.url }}">{{ item.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
        <li class="nav-item nav-item-cta">
          <a class="btn btn-cta btn-cta-nav" href="{{site.baseurl}}/collaborate">Collaborate</a>
        </li>
      </ul>
          <!-- Workshop Mode Toggle (only visible on guide pages) -->
          {% if page.url contains '/guides/' or page.workshop_mode %}
          <div class="navbar-workshop-toggle me-3">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="workshopModeToggle" role="switch">
              <label class="form-check-label" for="workshopModeToggle">Workshop Mode</label>
            </div>
          </div>
          {% endif %}
    </div>
  </div>
</nav>
