<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
<a class="navbar-brand d-flex align-items-center" href="/">amaranth</a>    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                
        <li class="nav-item">
          <a class="nav-link" href="{{site.baseurl}}/about">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{site.baseurl}}/events">Events</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{site.baseurl}}/projects">Projects</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{site.baseurl}}/objex">Objex</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Websites</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{site.baseurl}}/websites/overview">Overview</a></li>
            <li><a class="dropdown-item" href="{{site.baseurl}}/websites/class-projects">Class Projects</a></li>
            <li><a class="dropdown-item" href="{{site.baseurl}}/websites/communities">Communities</a></li>
            <li><a class="dropdown-item" href="{{site.baseurl}}/websites/scrollstories">ScrollStories</a></li>
            <li><a class="dropdown-item" href="{{site.baseurl}}/websites/getting-started">Getting Started</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Process Guides</a>
          <ul class="dropdown-menu">
            
            <li><a class="dropdown-item" href="{{site.baseurl}}/process-guides/3d-printing">3D Printing Overview</a></li>
            <li><a class="dropdown-item" href="{{site.baseurl}}/process-guides/3d-scanning">3D Scanning</a></li>
            <li><a class="dropdown-item" href="{{site.baseurl}}/process-guides/podcasting">Podcasting</a></li>
            <li><a class="dropdown-item disabled" href="{{site.baseurl}}/process-guides/360-photography">360 Photography</a></li>      
            <li><a class="dropdown-item disabled" href="{{site.baseurl}}/process-guides/designing-posters">Designing Posters</a></li>
            <li><a class="dropdown-item" href="{{site.baseurl}}/contact">Discuss with us!</a></li>
          </ul>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Equipment</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{site.baseurl}}/equipment/3d-printer">3D Printer</a></li>
            <li><a class="dropdown-item" href="{{site.baseurl}}/equipment/3d-scanner">3D Scanner</a></li>
            <li><a class="dropdown-item" href="{{site.baseurl}}/equipment/360-camera">360 Camera</a></li>
            <li><a class="dropdown-item" href="{{site.baseurl}}/equipment/vr-headsets">VR Headsets</a></li>
            <li><a class="dropdown-item" href="{{site.baseurl}}/equipment/poster-printer">Poster Printer</a></li>
            <li><a class="dropdown-item" href="{{site.baseurl}}/equipment/photo-printer">Photo Printer</a></li>
            <li><a class="dropdown-item" href="{{site.baseurl}}/equipment/yeti-mics">Podcast Microphones</a></li>
            <li><a class="dropdown-item" href="{{site.baseurl}}/contact">Discuss with us!</a></li>
          </ul> 
        </li>
<!--
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
        -->
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>