/*****************************************************
NAVIGATION
*****************************************************/

.navbar-brand {
  text-decoration: none !important;
  border: none !important;
  outline: none !important;
}

.navbar-brand:hover,
.navbar-brand:focus,
.navbar-brand:active {
  text-decoration: none !important;
  border: none !important;
  outline: none !important;
}

@media screen {


} /* end media screen */



/*****************************************************************************/
/*
/* SMALL SCREEN
/*
/*****************************************************************************/

  @media (max-width: 768px) {

}
